{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span></span>
<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="ruanbekker" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting, if you like my content, feel free to support me with a digital coffee." data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
{% endif %}
