<div class="about">
     <span class="about-image">
          <img src="/images/author.png" alt="Ruan Bekker">
     </span>
     <span class="about-desc">
          <span>My name is <a href="https://ruan.dev">Ruan</a>, i'm a DevOps Engineer from Cape Town, South Africa. I'm
          passionate about AWS, OpenSource, Containers, Linux, Automation and sharing my findings with the world.
          More info about me on my website, <a href="https://ruan.dev">ruan.dev</a>.</span>
          <br/>
          <hr/>
          <a href="https://twitter.com/ruanbekker" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ruanbekker</a>
     </span>
</div>
