// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#mc_embed_signup {

    // label
    .mc-field-group > label {
  margin-top: 8px;
  display: block;
    }

    // textfield
    input.email {
  width: 100%; height: 24px; margin-top: 8px; font-size: 14px;
    }

    // subscribe button
    input#mc-embedded-subscribe {
  background-color: #5DA423;
  border: 1px solid #396516;
  width: auto;
  background: #2BA6CB;
  border: 1px solid #1E728C;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0 0 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
    }
}

.about {
     font-style: italic;
     background-color: #FFF;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #CCC;
     box-shadow: 0 0 5px #CCC;
     overflow: hidden;
     clear: both;
     .about-image {
          width: 150px;
          float: left;
          display: inline-block;
          margin-right: 20px;
     }
     .about-desc > hr {
          border: none;
          border-top: 1px dotted #CCC;
          padding-top: 10px;
     }
     #twitter-widget-1 {
          float: right
     }
}

// CarbonAds

#carbonads * {
  margin: initial;
  padding: initial;
  line-height: initial;
}

#carbonads {
  --carbon-font-size: 16px;
  --carbon-padding-size: 12px;
}

#carbonads {
  z-index: 100;
  display: inline-block;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: var(--carbon-font-size);
}

#carbonads > span {

  min-width: 18.75em;
  max-width: clamp(18.75em, 22.5em, 24.5em);
  min-height: 100px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.065),
    0 0 2px hsl(0deg 0% 0% / 0.065),
    0 0 4px hsl(0deg 0% 0% / 0.065),
    0 0 8px hsl(0deg 0% 0% / 0.065);
}

#carbonads a {
  text-decoration: none;
  color: inherit;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  position: relative;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  height: 100px;
  width: 130px;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  padding: 0.625em 1em;

  font-size: 0.8125em;
  margin-bottom: 1em;
  line-height: 1.4;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  font-weight: 600;
  font-size: 0.5em;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

